/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
 
:focus {
    outline: 0;
}
 
body {
    line-height: 1;
    color: black;
    background: white;
}
 
ul {
    list-style: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
caption, th, td {
    text-align: left;
    font-weight: normal;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
 
blockquote, q {
    quotes: "" "";
}

body {
    background-color: #fff;
    color: #000;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
* html {
    height: 100%;
}
ul, ol, li, h1, h2, h3, h4, h5, p {
    margin: 0 0 0.3em 0;
    padding: 0;
}


table {
    border-collapse: collapse;
}

#container {
    padding-top:8px;
    position:relative;
    width:950px;
    margin: 0 auto;
}

#logpanel {
    float: right;
    margin-right: 10px;
    font-size: 80%;
}

#logpanel ul {
    list-style: none;
    
}

#logpanel ul li {
    float: left;
}
#logpanel ul li a {
    color: #000;
    text-decoration: none;
}

#logpanel ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

header#mainh,
div#mainh {
    display: block;
    height: 100px;
    clear: both;
    z-index: 110;
}


#mainh h1 {
    display: block;
    position:relative;
    width: 400px;
    left: 240px;
}
#mainh h1 a {
    color: #222222;
    float: left;
    font-size: 2.4em;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 5px 5px 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;
}
#mainh ul {
    float: right;
    margin-right: 10px;
}
#mainh ul li {
    background-color: #000;
    margin-bottom: 5px;
    text-align: right;
}

#mainh ul li.active {
    background-color: #cc0000;
}

#mainh ul li a {
    color:#EEEEEE;
    display:block;
    font-size:  1.3em;
    padding:5px;
    text-decoration:none;
}

#mainh ul li a:hover{
    background-color:#cc0000;
    color:#EEEEEE;
}


section#content {

    display: block;
    position: relative;
    margin-left: 240px;
}

#content h1 {
    font-size: 2em;
    font-weight: bold;
}

article#entry,
article.comment {
    display: block;
    border-bottom:5px dashed #EEEEEE;
    padding-bottom:10px;
    padding-top:10px;
    clear: both;
    position: relative;
}

article.item {
    display: block;
    border-top:5px dashed #EEEEEE;
    padding-bottom:10px;
    padding-top:10px;
    position: relative;
}

article.item h2,
#entry h2 {
    display:block;
    font-size: 1.2em;
    letter-spacing:1px;
    text-decoration:none;
    text-transform:lowercase;
    margin: 0em 16px 0.5em 0px;
}

article.item h2 a,
#entry h2 a {
    color:#cc0000;
    
    font-size: 1.2em;
    letter-spacing:1px;
    text-decoration:none;
    text-transform:lowercase;
}
article.item h2 a:hover,
#entry h2 a:hover {
    background-color:#222222;
    color:#EEEEEE;
}

article.item h2 span,
#entry h2 span {
    font-size: 1.125em;
    color: #555c58;
}

article.item p a,
li.comment a {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}
article.item p a:hover,
li.comment a:hover {
    text-decoration:underline;
}

article.item img,
li.comment img {
    vertical-align:middle;
}


.item span.nbcomments {
    background: #666;
    padding: 0.3em;
    vertical-align: top;
}

.item span.nbcomments:hover {
    background:#000;
}
.item span.nbvotes {
    background: #666;
    padding: 0.1em;
    vertical-align: top;
}



.item .nbcomments a,
.item .nbcomments a:hover,
.item .nbvotes a,
.item .nbvotes a:hover {
    color: #fff;
    text-decoration: none;
}

#entry p.metadata
article.comment p.metadata {
    font-size: 80%;
    
}

#entry a,
article.comment a {
    color: #555c58;
    text-decoration: none;
    padding: 0.2em;
}
#entry a:hover,
article.comment a:hover;{
    color: #fff;
    background-color: #000;
}

#entry div.text {
    border-bottom:2px dashed #EEEEEE;
    border-top:2px dashed #EEEEEE;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

aside.sidebar {
    display: block;
    left: 5px;
    position:absolute;
    width:190px;
    z-index:10;
}

aside.sidebar h1 {
    position: absolute;
   top: -60px;
}

aside.sidebar h1 a {
    color: #222222;
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 5px 5px 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;
}

aside.sidebar ul.notifications li {
    background-color:#191919;
    color:#AAAAAA;
    margin-bottom:5px;
    overflow: hidden;
    padding:5px;
}
 
aside.sidebar ul.notifications li div h3 {
    color:#EEEEEE;
    margin-bottom:10px;
}
aside.sidebar ul.notifications li div p {
    padding-left:10px;
    padding-right:10px;
}
aside.sidebar ul.notifications li div p {
    font-size:13px;
    line-height:14px;
}
aside.sidebar ul.notifications li div p a {
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
}
aside.sidebar ul.notifications li div p a:hover {
    text-decoration:underline;
}

aside.sidebar ul.notifications li.footer div p {
    color:#EEEEEE;
    font-size:14px;
    line-height:17px;
}

aside.sidebar form#fedit {
    margin-bottom: 60px;
}

form#fedit input[type="text"],
form#fedit textarea {
    background: #111111;
    color: #EEEEEE;
}

form#fedit input[type="text"] {
    height: 18px;
    width: 243px;
    
}
#content form#fedit textarea {
    padding:5px;
    width: 98%;
    height: 190px;
}

#content #fedit {
    width: 400px;
    z-index: 99;
    
}

#fedit h2 {
    background-color: #444444;
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
    margin-right: 0px;
}

form#fedit #fsubmit {
    background-color: #111111;
    border: 0px;
    color: #eeeeee;
    font-size: 36px;
    font-weight: bold;
    height: 50px;
    text-transform: uppercase;
    width: 290px;
}

#fedit label {
    display: block;
    float: left;
    width: 80px;
}

#fedit input[type="text"] {
    width: 320px;
}

.form-row { 
    clear: both;
    padding: 0.1em 0;
}

form#fedit #fsubmit:hover {
    background-color: #222222;
    color: #eeeeee;
}

p.tips {
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

p.tips span {
    font-size:30px;
    font-weight:bold;
}

aside.sidebar ul.notifications li {
    background-color:#222222;
    color:#AAAAAA;
    margin-bottom:5px;
    overflow: hidden;
    padding:5px;
}
 
aside.sidebar ul.notifications li div p.title {
    color:#EEEEEE;
    margin-bottom:10px;
    font-weight: bold;
    font-size: 1em;
}
aside.sidebar ul.notifications li div p {
    padding-left:10px;
    padding-right:10px;
}
aside.sidebar ul.notifications li div p {
    font-size:13px;
    line-height:14px;
}
aside.sidebar ul.notifications li div p a {
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
}
aside.sidebar ul.notifications li div p a:hover {
    text-decoration:underline;
}

aside.sidebar ul.notifications li.footer div p {
    color:#EEEEEE;
    font-size:14px;
    line-height:17px;
}


.loginform {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 45%;
}

.divide {
    border-right: 2px solid #d3d3d3;
}

.loginform label {
    display: block;
    font-weight: bold;
}


.loginform p {
    font-size: 80%;
    margin-bottom: 0.8em;
}


#comments {
    display: block;
    margin-top: 20px;
}

ol, ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

li ul {
    margin: 15px;
}
li.comment {
    margin-bottom: 7px;
    clear: both;
}

li.comment p.meta,
article.comment p.meta {
    border-bottom:2px dashed #EEEEEE;
    padding-bottom:5px;
}

li.comment div.text,
article.comment div.text {
    padding: 0.3em 0 0.3em 0;
}
li.comment div.text a,
article.comment div.text a {
    font-weight: normal;
    color: #555c58;
    text-decoration: none;
}

li.comment div.text a:hover,
article.comment div.text a:hover {
    background-color: #666;
    color: #fff;
    text-decoration: none;
}

li.comment p.bottom {
    border-top:2px dashed #EEEEEE;
    margin-bottom:5px;
    background-color: #f2f2f1;
    
    -moz-border-radius: 4px; -webkit-border-radius: 4px; 
    padding: 0.3em;
}

#comments ul {
     border-left:2px dashed #EEEEEE;
     
}
#comments ul li {
    margin-left: 10px;
}

.cform {
    display: block;
    padding: 0.3em;
    margin-bottom: 5px;
}
.subcomment, #newcomment {
    width: 450px;
    margin-bottom: 5px;
}
.subcomment textarea {
    width: 450px;
    height: 70px;
}
.show-help {
    float: right;
    clear: right;
}
.subcomment input {
    float: left;
}
table.help {
    clear: both;
    width: 100%;
    margin-top: 5px;
    margin: 5px;
}

.help,
.help tr,
.help td {
    border: 1px solid #c0c0c0;
    margin: 0px;
    padding: 4px;
    
}

.help th {
    background-color: #ffff99;
    text-align: center;
}

.subcomment form, #newcomment form {
    margin: 0;
}


#entry header h2 div.vote {
    display: block;
    /*position: absolute;
    top: 0;
    right: 0;*/
    float: right;
    width: 150px;
    height: 30px;
    
    line-height: 30px;
}
#entry header h2 div.vote span {
    vertical-align: top;
}

#entry header h2 div.vote img {
    vertical-align: baseline;
    cursor: pointer;
}

form ol, form ol li {
    text-indent: 0;
    margin: 0;
    padding: 0;
}



#login-popup {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 650px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

#login-popup h2 {
    text-align: center;
    padding-bottom: 15px;
}
#login-popup a.close {
    clear: both;
    display: block;
    width: 120px;
    margin: 0 auto;
    color: #000;
    text-align: center;
}

#login-popup a.close:hover {
    color: #fff;
    background: #000;
}

.hidden {
    display: none;
}

/* dialog */
.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html #login-popup {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
