<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
    <title>nymphormation</title>
    
    <!--[if IE]>

      <script>
        // allow IE to recognize HTMl5 elements
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('header');
        document.createElement('nav');
        document.createElement('time');

      </script>
      <![endif]-->
    
    
    <link rel="stylesheet" href="<%= assets %>/css/humanity/jquery-ui-custom.css?1.7.1" type="text/css">
    <link rel="stylesheet" href="<%= assets %>/css/nymphormation.css" type="text/css">
  </head>
  <body>
    <div id="loginpane">
      <div id="version"></div>

      <div id="not_logged_in" style="display: none;">
          <form id="flogin">
              
              <div id="login-holder"><span id="login_label"><a href="#" id="signup">Sign up</a> or log in:</span>

                  <label for="login_username">Username: </label><input id="login_username" type="text" /> <label id="psw-label" for="login_password">Password: </label><input id="login_password" type="password" maxlength="20"/> <input id="loginbutton" type="submit" class="nf-button ui-state-default ui-corner-all" value="login"> <div id="status" style="display: none;"></div>
              </div>
          </form>
      </div>
      <div id="logged_in" style="display: none;">
        <nav id="user_actions">
            <ul>
                <li><a class="add" href="#">Add an entry</a></li>
            </ul>
        </nav>
        <div>
          Welcome back, <span id="display_username"></span>!
          You can also <a href="#" id="logout">logout</a>.
        </div>

      </div>
    </div>
    <section id="content">
        <article id="entry">
          <header>
            <h2><a href="<%= doc.url %>"><%= doc.title %></a></h2>
            <p class="metadata">by <a href="#" rel="author"><%= doc.author %></a> <time title="GMT" datetime="<%= doc.created_at %>" class="caps"><%= fcreated_at %></time></p>
            
            <% if (doc.body) { %>
            <p><%= doc.body %></p>
            <% } %>
            
          <form name="fcomment" id="fcomment">
            <textarea name="comment" id="comment" id="body" cols="50" rows="4"></textarea>
            <p><input type="submit" id="fsubmit" value="submit" class="nf-button ui-state-default ui-corner-all"></p>
          </form>
        </article>
        
    </section>
    <section id="comments">
    </section>
    <div id="signupdlg" title="Create new user">
    	

    	<form>
    	<fieldset>
    		<label for="fullname">Full name</label>
    		<input type="text" name="fullname" id="fullname" class="text ui-widget-content ui-corner-all" />
    		<label for="username">Username</label>
    		<input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" />
    		<label for="password">Password</label>
    		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
    		<label for="email">Email</label>
    		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
    	</fieldset>
    	</form>
    </div>
    
     <!-- begin script tags -->
      <script src="/_utils/script/json2.js"></script>
      <script src="<%= assets %>/js/jquery.js?1.3.2"></script>
      <script src="<%= assets %>/js/jquery-ui-custom.js?1.7.1"></script>
      <script src="<%= assets %>/js/jquery-ui-i18n.js?1.7.1"></script>
      <script src="/_utils/script/jquery.cookies.js?0.9.0"></script>
      <script src="/_utils/script/jquery.couch.js?0.9.0"></script>
      <script src="<%= assets %>/vendor/couchapp/jquery.couchapp.js?0.3"></script>
      <script src="<%= assets %>/vendor/couchapp/sha1.js"></script>
      <script src="<%= assets %>/js/pure.js"></script>
      <script src="<%= assets %>/js/nymphormation.js"></script>
      <!-- end script tzgd -->
      
      <script>
        $(document).ready(function() {
          $.CouchApp(function(app) {
            new $.nymphormation.userNav(app);
            localizeDates()
          });
        })
      </script>
    
  </body>
 
</html>
