<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
    <title>nymphormation</title>
    
    <!--[if IE]>

      <script>
        // allow IE to recognize HTMl5 elements
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('header');
        document.createElement('nav');
        document.createElement('time');

      </script>
      <![endif]-->
    
    
    <link rel="stylesheet" href="<%= assets %>/css/humanity/jquery-ui-custom.css?1.7.1" type="text/css">
    <link rel="stylesheet" href="<%= assets %>/css/nymphormation.css" type="text/css">
  </head>
  <body>
    <div id="loginpane">
      <div id="version"></div>

      <div id="not_logged_in" style="display: none;">
          <form id="flogin">
              
              <div id="login-holder"><span id="login_label"><a href="#" id="signup">Sign up</a> or log in:</span>

                  <label for="login_username">Username: </label><input id="login_username" type="text" /> <label id="psw-label" for="login_password">Password: </label><input id="login_password" type="password" maxlength="20"/> <input id="loginbutton" type="submit" class="nf-button ui-state-default ui-corner-all" value="login"> <div id="status" style="display: none;"></div>
              </div>
          </form>
      </div>
      <div id="logged_in" style="display: none;">
        <nav id="user_actions">
            <ul>
                <li><a class="add" href="#">Add an entry</a></li>
            </ul>
        </nav>
        <div>
          Welcome back, <span id="display_username"></span>!
          You can also <a href="#" id="logout">logout</a>.
        </div>

      </div>
    </div>
    <section id="content">
        <article id="entry">
          <header>
            <% if (doc.title) { %>
            <h2><a href="<%= doc.url %>"><%= doc.title %></a></h2>
            <% } %>
            <p class="metadata">by <a href="#" rel="author"><%= doc.author %></a> <time title="GMT" datetime="<%= doc.created_at %>" class="caps"><%= fcreated_at %></time><% if (parent_url) { %> | <a href="<%= parent_url %>">parent</a><% } %></p>
            
            <% if (doc.body) { %>
            <p><%= doc.body %></p>
            <% } %>
            
          <p id="validateTips"></p>
          <form name="fcomment" id="fcomment">
            <input type="hidden" name="linkid" id="linkid" value="<%= linkid %>">
            <input type="hidden" name="parentid" id="parentid" value="<%= doc._id %>">
            <textarea name="body" id="body" cols="70" rows="5"></textarea>
            <p><input type="submit" id="fsubmit" value="submit" class="nf-button ui-state-default ui-corner-all"></p>
          </form>
        </article>
        <section id="comments"></section>
    </section>
    
    <aside id="sidebar">
      <div id="add_entry">
        <a href="" class="add">Add an entry</a>
      </div>
    </aside>
   
    <div id="signupdlg" title="Create new user">
    	

    	<form>
    	<fieldset>
    		<label for="fullname">Full name</label>
    		<input type="text" name="fullname" id="fullname" class="text ui-widget-content ui-corner-all" />
    		<label for="username">Username</label>
    		<input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" />
    		<label for="password">Password</label>
    		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
    		<label for="email">Email</label>
    		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
    	</fieldset>
    	</form>
    </div>
    
    <div id="login-popup" title="you'll need to login or register to do that">
      <div class="loginform divide">
        <h3>create a new account</h3>
        <p class="info">needed to post a link or a comment</p>
        <form id="fsignup">
          <ul>
      		  <li><label for="fullname">Full name:</label><input type="text" name="fullname" id="fullname" class="text ui-widget-content ui-corner-all" /></li>
      		  <li><label for="username">Username:</label><input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" /></li>
      		  <li><label for="password">Password:</label><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" /></li>
      		  <li><label for="email">Email:</label><input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" /></li>
      		  <li><input id="signupbutton" type="submit" class="nf-button ui-state-default ui-corner-all" value="create this account"></li>
      	  </ul>
      	</form>
      </div>
      
      <div class="loginform">
        <h3>login</h3>
        <p class="info">already have an account and just want to login?</p>
        <form id="flogin">
            <ul>
              <li><label for="login_username">Username: </label><input id="login_username" type="text" value="" class="text ui-widget-content ui-corner-all" /></li>
              <li><label id="psw-label" for="login_password">Password: </label><input id="login_password" type="password" maxlength="20" value="" class="text ui-widget-content ui-corner-all" /></li>
              <li><input id="loginbutton" type="submit" class="nf-button ui-state-default ui-corner-all" value="login"></li>
            <ul> 
        </form>
      </div>
    </div>
    
     <!-- begin script tags -->
      <script src="/_utils/script/json2.js"></script>
      <script src="<%= assets %>/js/jquery.js?1.3.2"></script>
      <script src="<%= assets %>/js/jquery-ui-custom.js?1.7.1"></script>
      <script src="<%= assets %>/js/jquery-ui-i18n.js?1.7.1"></script>
      <script src="/_utils/script/jquery.cookies.js?0.9.0"></script>
      <script src="/_utils/script/jquery.couch.js?0.9.0"></script>
      <script src="<%= assets %>/vendor/couchapp/jquery.couchapp.js?0.3"></script>
      <script src="<%= assets %>/vendor/couchapp/sha1.js"></script>
      <script src="<%= assets %>/js/pure.js"></script>
      <script src="<%= assets %>/js/nymphormation.js"></script>
      <!-- end script tzgd -->
      
      <script>
        var linkid = "<%= linkid %>";
        var username = "<%= username %>";
        $(document).ready(function() {
          $.CouchApp(function(app) {
            var app = app;
            new $.nymphormation.userNav(app);
            localizeDates();
            $("textarea").resizable();
            
            updateComments(app, "<%= linkid %>", "<%= doc._id %>");
            var tips = $("#validateTips");
            
            function updateTips(t) {
                tips.text(t).effect("highlight", {},
                1500);
            }
            
            var entryForm = app.docForm("form#fcomment", {
              fields: ["body", "linkid", "parentid"],
              template: {
                  path: <%= path %>,
                  type: "comment",
                  author: "<%= username %>"
              },
              validForm: function(doc) {
                  if (!doc.body) {
                    updateTips("Comment required");
                    return false;
                  }
                  
                  return true;
              },
              beforeSave: function(doc) {
                doc.created_at = new Date().rfc3339();
                if (!doc.parentid)
                  doc.parentid = null;
              }
            });
            $(".reply").click(fsubcomment);
          });
        })
      </script>
    
  </body>
 
</html>
