<article id="<%= doc._id %>" class="comment">
  <p class="meta">by <img src="http://www.gravatar.com/avatar/<%= doc.author.gravatar %>?s=16&amp;d=identicon" alt=""><a href='../user/links?key="<%= doc.author.username %>"'><%= doc.author.username %></a> <time title="GMT" datetime="<%= doc.created_at %>" class="caps"><%= fcreated_at %></time> | <a href="<%= link_url %>">link</a> | <a href="<%= parent_url %>">parent</a><span class="link"> | on <a href="../../_show/item/<%= doc.linkid %>"><%= doc.link_title %></a></span></p>
  <div class="text"><%= doc.html %></div>
</article>