      </div>
    </section>

    </div>
     <div id="login-popup" title="" style="display: none;">
       <h2>you'll need to login or register to do that</h2>
       <p id="signup-tips" class=".ui-state-error"></p>
     <div class="loginform divide">
       <h3>create a new account</h3>
       <p class="info">needed to post a link or a comment</p>
       <form id="fsignup">
         <ul>
     		  <li><label for="username">Username:</label><input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" /></li>
     		  <li><label for="password">Password:</label><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" /></li>
     		  <li><label for="email">Email:</label><input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" /></li>
     		  <li><input id="signupbutton" type="submit" class="nf-button ui-state-default ui-corner-all" value="create this account"></li>
     	  </ul>
     	</form>

     </div>

     <div class="loginform">
       <h3>login</h3>
       <p class="info">already have an account and just want to login?</p>
       <form id="flogin">
           <ul>
             <li><label for="user">Username: </label><input id="user" type="text" value="" class="text ui-widget-content ui-corner-all" /></li>
             <li><label id="label-passwd" for="passwd">Password: </label><input id="passwd" type="password" maxlength="20" value="" class="text ui-widget-content ui-corner-all" /></li>
             <li><input id="loginbutton" type="submit" class="nf-button ui-state-default ui-corner-all" value="login"></li>
           </ul> 
       </form>
     </div>
     <a href="#" class="close">close this window</a>
   </div>

      <!-- begin script tags -->
       <script src="/_utils/script/json2.js"></script>
       <script src="../../js/jquery.js?1.3.2"></script>
       <script src="../../js/jqModal.js?20090301"></script>
       <script src="/_utils/script/jquery.cookies.js?0.9.0"></script>
       <script src="/_utils/script/jquery.couch.js?0.9.0"></script>
       <script src="../../vendor/couchapp/sha1.js"></script>
       <script src="../../vendor/couchapp/md5.js"></script>
       <script src="../../vendor/couchapp/jquery.couchapp.js?0.3"></script>
       <script src="../../js/pure.js"></script>
       <script src="../../js/nymphormation.js?0.1"></script>
       <!-- end script tzgd -->
      
      <script>
        $(document).ready(function() {
          var created = Date.now();
          $.CouchApp(function(app) {
            var app = app;
            new userNav(app);
            localizeDates();
            var ids = [];
            $('.item').each(function() {
              ids.push($(this).attr('id'));
            });
            
            app.view("nbcomments", {
              keys: ids,
              group: true,
              success: function(json) {
                for(var c=0; c<json.rows.length; c++) {
                  value = json.rows[c].value + " comment";
                  if (json.rows[c].value > 1)
                    value +="s";
                  value = '<a href="../../_show/item/'+ json.rows[c].key +'">'+value+'</a>'
                  $("#"+json.rows[c].key+" p span.nbcomments").html(value);
                }
              }
            });
            
            app.view("points", {
              keys: ids,
              group: true,
              success: function(json) {
                for(var c=0; c<json.rows.length; c++) {
                  value = json.rows[c].value + " vote";
                  if (json.rows[c].value > 1)
                    value +="s"
                  value = '<a href="../../_show/item/'+ json.rows[c].key +'">'+value+'</a>'
                  $("#"+json.rows[c].key+" p span.nbvotes").html(value);
                }
              }
            })
            
          });
        })
      </script>
    
  </body>
 
</html>